{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<nav style="min-height: 60px; background-color: #015B73; margin: 0; color:white; ">
  {% include "navbar.html" %}
</nav>   
  Hi {{ user.email }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
     

  {% block dashboard %}
  {% endblock %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'register' %}">Sign Up</a>
{% endif %}
{% endblock %}